*{
	margin: 0;
	padding: 0;
}

section#contenedor_general{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-image: url(images/pinacli2.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
}