* {
	background-color: #F6ECEC;
}

#pinaleft{
	/*max-width: 100%;*/
	border-radius: 10%;
	border: 5px solid #ccc;
	background-size: cover; 
	overflow: hidden;
}


h2, h5{
	font-family: Century Gothic;
	color: #7C7CCB;
}

#btn-entrar{
	height: 70px;
	border-radius: 40px; 
}
