
.pinaleft{
	width: 40%;
	height: 915px;
	margin: 0px;
	border-radius: 15%;
	border: 5px solid #ccc;

}
.left-section{
	float: left;
	margin-right: 2%;
}
.right-section{
	width: 60%;
	float: right;
	margin-top: -900px;
}

.pinatitle{
	margin-top: -50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}